@charset "UTF-8";

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination li.active a {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.sort {
	position: relative;
	cursor: pointer;
}

.sort::before,
.sort::after {
	position: absolute;
	right: 0.75em;
	font-family: 'FontAwesome';
	opacity: 0.3;
}

.sort::before {
	content: '\f0de';
	top: calc(50% - 0.75em);
}

.sort::after {
	content: '\f0dd';
	bottom: calc(50% - 0.75em);
}

.sort.asc::before,
.sort.desc::after {
	opacity: 1;
}

.mailbox {
    border: 1px solid darkgray;
    margin-bottom: 10px;
    padding-top: 10px;
}