<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>E-posta Düzenle</title>
<th:block th:insert="~{fragments/template :: link}"></th:block>
<link th:rel="stylesheet" th:href="@{/assets/bootstrap-switch/bootstrap-switch.min.css}"/>
<th:block th:insert="~{fragments/template :: head/script}"></th:block>
</head>
<body>
	
	<div th:replace="~{fragments/template :: navbar}"></div>
	
	<div class="container mt-5 mb-5">
	
		<form action="#" th:action="@{/epostaDuzenle}" method="post" th:object="${mailRecordDTO}">
			<div class="form-group">
				<label for="mail">E-posta adresi</label>
				<input type="email" required="required" class="form-control col-md-6" th:field="*{mail}" placeholder="E-posta giriniz">
			</div>
			<div class="form-group">
				<label for="mail">Durum</label><br />
				<input type="checkbox" class="form-control" th:field="*{active}" data-toggle="switch"/>
			</div>
			<button type="submit" class="btn btn-primary">E-posta Güncelle</button>
			<input type="hidden" th:field="*{id}" />
		</form>
		
	</div>
	
	<th:block th:insert="~{fragments/template :: body/script}"></th:block>
	<script th:src="@{/assets/bootstrap-switch/bootstrap-switch.min.js}"></script>
	
	<script type="text/javascript">
		$('[data-toggle="switch"]').bootstrapSwitch();
	</script>

	<th:block th:insert="~{fragments/template :: footer}"></th:block>
</body>
</html>