<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ana Sayfa</title>
<th:block th:insert="~{fragments/template :: link}"></th:block>
<th:block th:insert="~{fragments/template :: head/script}"></th:block>
</head>
<body>

	<th:block th:replace="~{fragments/template :: navbar}"></th:block>

	<div class="container mt-5 mb-5">
		<h1 th:text="${appName}">Application Name</h1>
	</div>
	
	<th:block th:insert="~{fragments/template :: body/script}"></th:block>
	
	<th:block th:insert="~{fragments/template :: footer}"></th:block>
</body>
</html>