<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gönderici E-posta Bilgileri</title>
<th:block th:insert="~{fragments/template :: link}"></th:block>

<th:block th:insert="~{fragments/template :: head/script}"></th:block>
</head>
<body>

	<div th:replace="~{fragments/template :: navbar}"></div>

	<div class="container mt-5 mb-5">

		<form action="#" th:action="@{/epostaBilgileri}" method="post"
			th:object="${mailPropertiesDTO}">
			<div class="form-group">
				<label for="subject">SMTP Adres</label> 
				<input type="text" required="required" class="form-control col-md-6" th:field="*{host}" placeholder="SMTP Adres">
			</div>
			<div class="form-group">
				<label for="subject">Kimden</label>
				<input type="text" required="required" class="form-control col-md-6" th:field="*{from}" placeholder="Kimden">
			</div>
			<div class="form-group">
				<label for="subject">Şifre</label>
				<input type="password" required="required" class="form-control col-md-6" id="password" name="password" th:value="*{password}" placeholder="Şifre">
			</div>
			<div class="form-group">
				<label for="subject">SMTP Port</label>
				<input type="text" required="required" class="form-control col-md-6" th:field="*{port}" placeholder="SMTP Port">
			</div>
			<button type="submit" class="btn btn-primary">Gönderici E-posta Bilgilerini Kaydet</button>
			<input type="hidden" th:field="*{id}" />
		</form>

		<div th:switch="${message}" class="mt-2 mb-2">
			<div th:case="'Success'" class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Bilgiler kaydedildi</strong>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div th:case="'Failed'" class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Bilgiler Kaydedilmedi!!!</strong>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>

	</div>

	<th:block th:insert="~{fragments/template :: body/script}"></th:block>

	<th:block th:insert="~{fragments/template :: footer}"></th:block>
</body>
</html>